<ul class="navbar-nav">



    @if (@Context.Session.GetInt32("user").HasValue)
    {
        <li class="nav-item">
            <a class="nav-link text-dark">Hello @Context.Session.GetString("email") !</a>
        </li>
        <li class="nav-item">
           
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Logout</a>

        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Log In</a>
        </li>
    }
</ul>
